$myTotalWidth: 62.5%;
$myHeaderHeight: 82px;
$myCenteringPadding: 18.75%;

$themeGreen: hsl(157, 77%, 41%);
$themeOrange: hsl(34, 90%, 77%);
$themeRed: hsl(9, 85%, 68%);
$themeLightGrey: hsl(0, 0%, 37%);
$themeDarkGrey: hsl(0, 0%, 34%);
$themeBrown: hsl(25, 76%, 31%);
$Orange: hsl(30, 100%, 70%);

$pageBG: hsl(0, 0%, 97%);
$footerBG: hsl(210, 6%, 19%);

$myBorder: 1px solid black;